<div class="lsr-view-container">
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-success lsr-btn-form" ng-click="carListController.newCar()">Novo Carro</button>
            <button class="btn btn-danger lsr-btn-form" ng-click="carListController.deleteCars()">Excluir Carro</button>
        </div>
        <div class="col-lg-offset-2 col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchValue" placeholder="Pesquisar">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="appliedSearch = searchValue">Go!</button>
                </span>
            </div>
        </div>

        <!-- /input-group -->
    </div>
    <table st-table="carListController.carList" class="table car-list-table" ng-if="carListController.carList">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-click="carListController.selectAll()" ng-model="carListController.allSelected">
                </th>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Foto</th>
                <th>Combustível</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in carListController.carList | lsrCarListFilter: appliedSearch">
                <td class="select-td">
                    <input type="checkbox" ng-model="row.selected">
                </td>
                <td ng-click="carListController.editCar(row.placa)" class="plate-td">
                    <a>{{row.placa}}</a>
                </td>
                <td>{{row.modelo}}</td>
                <td>{{row.marca}}</td>
                <td>
                    <a href="javascript:void(0)" ng-if="row.imagem">Imagem</a>
                    <span ng-if="!row.imagem">Sem foto</span>
                </td>
                <td>{{row.combustivel}}</td>
                <td>{{row.valor}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>