<div class="lsr-view-container">
    <button class="btn btn-default btn-new-car" ng-click="carListController.newCar()">Novo Carro</button>
    <button class="btn btn-danger btn-delete-car" ng-click="carListController.deleteCars()">Excluir Carro</button>
    <table st-table="carListController.carList" class="table table-striped" ng-if="carListController.carList">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-click="carListController.selectAll()" ng-model="carListController.allSelected">
                </th>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Foto</th>
                <th>Combustível</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in carListController.carList">
                <td>
                    <input type="checkbox" ng-model="row.selected" class="select-row">
                </td>
                <td ng-click="carListController.editCar(row.placa)">{{row.placa}}</td>
                <td>{{row.modelo}}</td>
                <td>{{row.marca}}</td>
                <td>{{row.imagem ? 'Imagem': 'Sem foto'}}</td>
                <td>{{row.combustivel}}</td>
                <td>{{row.valor}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>