<div class="lsr-view-container">

    {{carEditController.title}}
    <form class="form-horizontal col-md-8" novalidate name="formEditCar">
        <div class="form-group">
            <div >
                <button type="submit" class="btn btn-success lsr-btn-form" ng-click="carEditController.save()" ng-disabled="formEditCar.$invalid">Salvar</button>
                <button type="submit" class="btn btn-default lsr-btn-form" ng-click="carEditController.listCars()">Voltar</button>
            </div>
        </div>
        <div class="form-group">
            <label class="">Placa *</label>
            <input type="text" class="form-control" ng-disabled="carEditController.beingEdited" ng-model="carEditController.car.placa"
                required>
        </div>
        <div class="form-group">
            <label>Marca *</label>
            <input type="text" class="form-control" ng-model="carEditController.car.marca" required>
        </div>
        <div class="form-group">
            <label class="">Modelo *</label>
            <input type="text" class="form-control" ng-model="carEditController.car.modelo" required>
        </div>

        <div class="form-group">
            <label>Combustível</label>
            <input type="text" class="form-control" ng-model="carEditController.car.combustivel">
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="number" class="form-control" ng-model="carEditController.car.valor">
        </div>
        <div class="form-group">
            <label>Imagem</label>
            <input type="text" class="form-control" ng-model="carEditController.car.imagem">
        </div>
    </form>
</div>